<!-- 貼了好幾次bs5 collapse 但是都一樣打開後收不起來... -->
<header class="navbar navbar-expand-lg navbar-light border-bottom border-dark border-3">
      <div class="container">
        <!-- logo -->
        <a class="navbar-brand d-flex" href="index.html"><img src="../assets/images/logo.png" alt="logo" class="me-3"><p class="fs-4 d-lg-block d-none">7TAO <span class="fs-7">活動訂票網</span></p>
        </a>
  
        <!-- search -->
        <form class="d-flex font-TC">
          <input class="form-control border-dark" type="search" placeholder="探索活動" aria-label="Search">
          <button class="btn btn-dark border-2">
              <i class="icofont-search-1 text-warning"></i>
          </button>
        </form>
  
  
        <button class="collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active text-dark pe-4" aria-current="page" href="#">
                  <i class="icofont-ui-file "></i>
                  REGISTER
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-dark pe-4" aria-current="page" href="#">
                  <i class="icofont-ui-user"></i>
                  LOGIN
              </a>
            </li>
          </ul>
        </div>
      </div>
</header>
