<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- iconfont -->
    <link rel="stylesheet" href="../assets/icofont/icofont.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">    
      <div class="banner text-light my-8">
        <p class="fs-4 fs-sm-3 fs-lg-2 p-9">19 MAY 2023</p>
        <p class="fs-5 mt-11 pb-5 text-center row justify-content-center px-10">隔牆有耳-沒有草東的派對<br>
          <span class="fs-7 pb-7 d-none d-lg-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</span>
        </p>
      </div>
    </div>

    <nav class="container my-8 my-lg-9">
      <div data-aos="fade-down" data-aos-duration="800" class="row row-cols-3 row-cols-sm-2 row-cols-lg-6 g-6 overflow-hidden" role="button" aria-label="navbar">
        <div class="col">
          <button type="button" class="btn btn-outline-dark border border-2 h-100 w-100">
            <img src="../assets/images/cate01.svg" alt="live" class="icon">
            <p class="mt-3 fs-7 fs-lg-5 fw-bold">演出</p>
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-dark border border-2 h-100 w-100">
            <img src="../assets/images/cate02.svg" alt="love" class="icon">
            <p class="mt-3 fs-7 fs-lg-5 fw-bold">聯誼</p>
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-dark border border-2 h-100 w-100">
            <img src="../assets/images/cate03.svg" alt="exhibiton" class="icon">
            <p class="mt-3 fs-7 fs-lg-5 fw-bold">展覽</p>
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-dark border border-2 h-100 w-100">
            <img src="../assets/images/cate04.svg" alt="eat" class="icon">
            <p class="mt-3 fs-7 fs-lg-5 fw-bold">美食</p>
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-dark border border-2 h-100 w-100">
            <img src="../assets/images/cate05.svg" alt="outdoor" class="icon">
            <p class="mt-3 fs-7 fs-lg-5 fw-bold">戶外</p>
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark border border-2 me-7 h-100 w-100">
            <p class="fs-5 fs-lg-3 text-warning text-nowrap">探索<br>更多</p>
          </button>
        </div>
     </div>
    </nav>


    <section class="container mb-8 mb-lg-9">
      <a href="event.html" class="d-flex align-items-center justify-content-between border border-dark border-3 px-8 py-7">
        <p class="fs-5 fs-sm-3 fs-lg-1">RECENT</p>
        <p class="fs-7 fs-sm-5 fs-lg-4">近期活動</p>
      </a>
    </section>
    

    <!-- RECENT CARD -->
    <main class="card-group container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

        <!-- card 01 -->
        <div  data-aos="flip-left" data-aos-duration="800" class="card col">
          <time class="fs-4 fs-lg-3 border-bottom
          btn-outline-black border-2 mb-3">23 MAY 2023</time>
          <img src="../assets/images/event/01.jpg" class="card-img-top img-fluid eventcard" alt="event2">
          <div class="card-body">
              <p class="card-title fs-6 fs-lg-5">邪典電影派對——房間</p>
              <p class="card-text font-TC">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                  <div class="left">
                    <a href="#" class="d-flex align-items-center text-black py-2 ">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                        <p>社群活動</p>
                    </a>
                  </div>
                  <div class="right">
                    <a class="sale d-flex align-items-center">
                        <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                    </a>
                  </div>
              </div>
            </div>
        </div>

        <!-- card 02 -->
          <div data-aos="flip-left" data-aos-duration="1600" class="card col">
              <time class="fs-4 fs-lg-3 border-bottom
              btn-outline-black border-2 mb-3">23 MAY 2023</time>
              <img src="../assets/images/event/02.jpg" class="card-img-top img-fluid eventcard" alt="event2">
              <div class="card-body">
                  <p class="card-title fs-5">怪舞俱樂部</p>
                  <p class="card-text font-TC">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                  <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                    <div class="left">
                      <a href="#" class="d-flex align-items-center text-black py-2 ">
                          <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                          <p>演出</p>
                      </a>
                    </div>
                    <div class="right">
                      <a class="sale d-flex align-items-center">
                          <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                      </a>
                    </div>
                  </div>
              </div>
          </div>

        <!-- card 03 -->
          <div data-aos="flip-left" data-aos-duration="2400" class="card col">
              <time class="fs-4 fs-lg-3 border-bottom
              btn-outline-black border-2 mb-3">30 MAY 2023</time>
              <img src="../assets/images/event/03.jpg" class="card-img-top img-fluid eventcard" alt="event3">
              <div class="card-body">
                  <p class="card-title fs-5">哈利波特馬拉松</p>
                  <p class="card-text font-TC">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
                  <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                    <div class="left">
                      <a href="#" class="d-flex align-items-center text-black py-2 ">
                          <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                          <p>聯誼</p>
                      </a>
                    </div>
                    <div class="right">
                      <a class="sale d-flex align-items-center">
                          <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                      </a>
                    </div>
                  </div>
              </div>
          </div>

          <!-- card 04 -->
          <div data-aos="flip-left" data-aos-duration="800" class="card col">
            <time class="fs-4 fs-lg-3 border-bottom
            btn-outline-black border-2 mb-3">30 MAY 2023</time>
            <img src="../assets/images/event/04.jpg" class="card-img-top img-fluid eventcard" alt="event4">
            <div class="card-body">
                <p class="card-title fs-5">皮卡丘排球大賽</p>
                <p class="card-text font-TC">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
                <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                  <div class="left">
                    <a href="#" class="d-flex align-items-center text-black py-2 ">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                        <p>遊戲競賽</p>
                    </a>
                  </div>
                  <div class="right">
                    <a class="sale d-flex align-items-center">
                        <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                    </a>
                  </div>
                </div>
            </div>
          </div>

        <!-- card 05 -->
        <div data-aos="flip-left" data-aos-duration="1600" class="card col">
          <time class="fs-4 fs-lg-3 border-bottom
          btn-outline-black border-2 mb-3">30 MAY 2023</time>
          <img src="../assets/images/event/05.jpg" class="card-img-top img-fluid eventcard" alt="event5">
          <div class="card-body">
              <p class="card-title fs-5">酒精路跑</p>
              <p class="card-text font-TC">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
              <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                <div class="left">
                  <a href="#" class="d-flex align-items-center text-black py-2 ">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                      <p>社群活動</p>
                  </a>
                </div>
                <div class="right">
                  <a class="sale d-flex align-items-center">
                      <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                  </a>
                </div>
              </div>
          </div>
        </div>

        <!-- card 06 -->
        <div data-aos="flip-left" data-aos-duration="2400" class="card col">
          <time class="fs-4 fs-lg-3 border-bottom
          btn-outline-black border-2 mb-3">30 MAY 2023</time>
          <img src="../assets/images/event/06.jpg" class="card-img-top img-fluid eventcard" alt="event6">
          <div class="card-body">
              <p class="card-title fs-5">展覽——我的房間</p>
              <p class="card-text font-TC">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              <div class="card-footer d-flex justify-content-between align-items-center border-bottom border-top btn-outline-black border-2 mt-5">
                <div class="left">
                  <a href="#" class="d-flex align-items-center text-black py-2 ">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                      <p>展覽</p>
                  </a>
                </div>
                <div class="right">
                  <a class="sale d-flex align-items-center">
                      <p class="fw-bold pe-2 font-TC">開賣中 > ></p>
                  </a>
                </div>
              </div>
          </div>
        </div>
    </main>     
  
    <!-- online -->
    <section class="container my-8 my-lg-9">
      <div class="d-flex align-items-center justify-content-between border border-dark border-3 px-8 py-7">
        <p class="fs-5 fs-sm-3 fs-lg-1">ONLINE</p>
        <p class="fs-7 fs-sm-5 fs-lg-4">線上活動</p>
      </div>
    </section>
    
    <article class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 g-6">
        <div  data-aos="fade-up" data-aos-duration="800" data-aos-anchor-placement="top-bottom" class="col online">
          <img src="../assets/images/event/online.jpg" class="img-fluid" alt="onlinejpg" >
        </div>
        <aside data-aos="fade-left" data-aos-duration="1500" class="col">
            <div class="d-flex flex-column align-center position-relative h-100">
              <p class="fs-4 fs-sm-5">切特居批踢</p>
              <div class="btn-group" role="group" aria-label="teg">
                <button type="button" class="teg me-2 px-7">競賽</button>
                <button type="button" class="teg me-2 px-7">科技</button>
                <button type="button" class="teg me-2 px-7">有趣</button>
              </div>  
              <p class="mb-10 mt-6 font-TC">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
              <button type="button" class="btn btn-dark full position-absolute bottom-0 py-2">查看活動詳情 > ></button>
          </div>
        </aside>
      </div>
    </article>

    <!--  這邊是跑馬燈  -->
    <div class="swiper mySwiper mt-60">
      <div class="swiper-wrapper fs-7 fs-lg-4 fw-bold text-warning text-center align-baseline">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
      </div>
    </div>  
    <!--  跑馬燈結束  -->

    <div class="container mt-60 ">
      <ul class="albums list-unstyled row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-8 g-lg-6">

        <!-- 不知道甚麼原因，這邊只能夠翻動第一張，但是如果有把傾斜關掉就可以! ( transform: rotate(2deg); 這個關掉就可以 ) -->
        <!-- 如果設計很堅持要傾斜也要這種動畫效果，請問可以怎麼做呢? PS.因為我自己好像也會堅持這種奇怪的小問題，所以想要知道可以怎麼做~ --> 
        <!-- item1 -->
        <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="col">
          <div class="item border border-2 border-dark position-relative p-5">
            <p class="fs-7 fw-bold py-2 px-5 bg-light position-absolute top-0 start-50 transform">社群活動</p>
            <img src="../assets/images/album/01.jpg" class="img-fluid w-100" alt="社群活動">
            <p class="fs-6 mt-5 mb-9">無聲派對-閉閉嘴dancing</p>
          </div>
        </li>

        <!-- item2 -->
        <li data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="col">
          <div class="item border border-2 border-dark position-relative p-5 ">
            <p class="fs-7 fw-bold py-2 px-5 bg-light position-absolute top-0 start-50 transform">藝文活動</p>
            <img src="../assets/images/album/02.jpg" class="img-fluid w-100" alt="社群活動">
            <p class="fs-6 mt-5 mb-9">拯救老店大作戰</p>
          </div>
        </li>

        <!-- item3 -->
        <li data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="col">
          <div class="item border border-2 border-dark position-relative p-5">
            <p class="fs-7 fw-bold py-2 px-5 bg-light position-absolute top-0 start-50 transform">自我覺察</p>
            <img src="../assets/images/album/03.jpg" class="img-fluid w-100" alt="社群活動">
            <p class="fs-6 mt-5 mb-9">內觀修行-部落篇</p>
          </div>
        </li>

        <!-- item4 -->
        <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="col">
          <div class="item border border-2 border-dark position-relative p-5">
            <p class="fs-7 fw-bold py-2 px-5 bg-light position-absolute top-0 start-50 transform">聯誼活動</p>
            <img src="../assets/images/album/04.jpg" class="img-fluid w-100" alt="社群活動">
            <p class="fs-6 mt-5 mb-9">賞櫻野餐 </p>
          </div>
        </li>
      </ul>
    </div>

    <!--  這邊是跑馬燈  -->
    <div class="swiper mySwiper mt-60">
      <div class="swiper-wrapper fs-7 fs-lg-4 fw-bold text-warning text-center align-baseline">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
      </div>
    </div>  
    <!--  跑馬燈結束  -->

    <section class="container mt-60">
      <ul class="social list-unstyled row g-4 g-lg-0 g-md-0">
        <li class="col">
          <div class="border border-2 h-100">
            <p data-aos="fade-right" data-aos-duration="1500" class="fs-4 py-5 px-8">#FOLLOW US</p>
            <p class="font-TC border-top border-2 border-dark p-8">想第一時間獲得新奇有趣的活動資訊？<br>
              追蹤我們的社群吧！<br>
              也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
            <div class="item d-flex align-items-center mb-5 px-8">
              <i class="icofont-ui-email me-2 bg-dark text-light p-2 fs-7"></i>
              <p>7tao.event@gmail.com</p>
            </div>
            <div class="item d-flex align-items-center mb-5 px-8">
              <i class="icofont-phone me-2 bg-dark text-light p-2 fs-7"></i>
              <p>09123123123</p>
            </div>
            <div class="item d-flex align-items-center mb-5 px-8">
              <i class="icofont-facebook me-2 bg-dark text-light p-2 fs-7"></i>
              <p>7TAO七逃</p>
            </div>
          </div>
        </li>

        <li class="col">
          <div class="subscribe border-2 border-bottom border-end border-start border-start-lg-0 border-top h-100 position-relative">
            <p data-aos="fade-left" class="fs-4 py-5 px-8 border-dark">#subscribe us</p>
            <p class="font-TC p-8 border-top border-2">訂閱電子報送折價券！<br>
              定期精選文章資訊及最新優惠資訊，<br>
              還不通通給我訂閱起來？</p>

            <div class="flex-nowrap px-8">
                <input type="text" class="form-control border border-2 border-dark py-5 mb-10" placeholder="輸入Email">
            </div>
            <button type="button" class="btn btn-dark full py-2 fw-bold fz-6 text-align-beaseline position-absolute bottom-0">確認訂閱 > ></button>
          </div>
        </li>
      </ul>
    </section>

    <figure class="text-center border-top border-dark pt-10 border-3 mt-60">
      <blockquote data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="blockquote container">
        <p class="fs-6 fs-lg-4">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
      </blockquote>
      <figcaption data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="blockquote-footer fs-8 fs-lg-6 text-dark mt-2">
        我也不知道誰說的
      </figcaption>
    </figure>


    <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <!-- Swiper 套件 -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script>
    const swiper = new Swiper(".mySwiper", {
        allowTouchMove: false,//避免使用者移動到
        slidesPerView: "auto",//能呈現幾個.swiper-slide
        speed: 8000,//跑馬燈的速度(毫秒)
        loop: true,//是否重複
        
        autoplay: {
          delay: 0,//到下一個幻燈片時，停下的時間
          disableOnInteraction: false,//避免點擊造成跑馬燈失效，視情況增加
        },

    });
  </script>
  
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
   AOS.init();
  </script>

  </body>
</html>
 